################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HBLAutomationWeb/Resources/Feature/InternetBanking
