<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsRemote" value="No" />
    <add key="RemoteServer" value="http://Url" />
    <add key="Manage_Calls_Permission" value="Yes" />
    <add key="Location_Permission" value="Yes" />
    <add key="Record_Video" value="Yes" />
    <add key="Saucelab_Execution" value="No"/>
    <!--Usman Server IP-->
    <!--<add key="AppiumServerURL" value="http://10.6.226.61:4723/wd/hub" />-->
    <!--Mojiz Server IP-->
    <!--<add key="AppiumServerURL" value="http://10.6.227.81:4723/wd/hub" /> -->
    <!--Kumail Server IP-->
    <!--<add key="AppiumServerURL" value="http://10.6.227.105:4723/wd/hub" /> -->
    <!--Sabih Server IP-->
    <!--<add key="AppiumServerURL" value="http://10.6.226.163:4723/wd/hub" /> -->
    <!--Own Machine IP-->
    <!--<add key="AppiumServerURL" value="http://127.0.0.1:4723/wd/hub" />-->
    <!--SauceLab-->
    <add key="Saucelab_URL" value="https://{UserName}:{Accesskey}@ondemand.eu-central-1.saucelabs.com:443/wd/hub" />
    <add key="Saucelab_Username" value="aliabbas110"/>
    <add key="Suacelab_Accesskey" value= "74bd15a5-8842-4b10-be07-fd1dde998990"/>
    <!--Saucelab-->
    <add key="ExcelOutputFileName" value="HBLAndroid_" />
    <add key="ExcelOutputFilePath" value="D:/AndroidAutomation/ExecutionResults/{buildIdCustom}/ExecutionDate-" />
    <add key="buildIdCustom" value="LocalExecution" />
    <add key="appPackage" value="com.hbl.android.hblmobilebanking" />
    <add key="appActivity" value="com.hbl.android.hblmobilebanking.activity.SplashActivity" />
    <!--<add key="appPackage" value="com.hbl.bbcustomerapp" />
    <add key="appActivity" value="com.hbl.bbcustomerapp.ui.activities.SplashActivity" />-->
    <add key="platformName" value="Android" />
    <!--<add key="deviceName" value="donatello"/>-->
    <!--<add key="deviceName" value="HUAWEI LYA-L29" />-->
    <add key="deviceName" value="Samsung_Galaxy_S9_free" />
    <add key="platformVersion" value="9.0.0" />
    <!--<add key="ConnectionString_DIGITAL_CHANNEL_SEC" value="Data Source=RACUAT;User id=DIGITL_CHANNEL_PD;Password=DIGITL_CHANNEL_PD" />-->
    <add key="ConnectionString_DIGITAL_CHANNEL_SEC" value="Data Source=RACUAT;User id=DIGITAL_CHANNEL_NEW;Password=digital123" />
    <add key="ConnectionString_QAT_BPS" value="Data Source=RACUAT;User id=QAT_BPS;Password=QAT_BPS_1234" />
    <add key="ConnectionString_QAT_AMC" value="Data Source=RACUAT;User id=QAT_AMC;Password=QAT_AMC" />
    <add key="ConnectionString_QAT_TPE" value="Data Source=RACUAT;User id=QAT_TPE;Password=QAT_TPE_1234" />
    <add key="ConnectionString_TEST_SMS_BANKING" value="Data Source=RACUAT;User id=TEST_SMS_BANKING;Password=TEST_SMS_BANKING123" />
    <add key="ConnectionString_QAT_BB_SYSTEM" value="Data Source=RACUAT;User id=QAT_BB_SYSTEM;Password=QAT_BB_SYSTEM_1234" />
    <add key="ScreenshotFolderPath" value="D:/AndroidAutomation/Screenshots/{Device_Name}/" />
    <add key="ProviderName" value="System.Data.OracleClient" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DIGITAL_CHANNEL_SEC" connectionString="Data Source=RACUAT;User id=DIGITL_CHANNEL_PD;Password=DIGITL_CHANNEL_PD" providerName="System.Data.OracleClient" />-->
    <add name="DIGITAL_CHANNEL_SEC" connectionString="Data Source=RACUAT;User id=DIGITAL_CHANNEL_NEW;Password=digital123" providerName="System.Data.OracleClient" />
    <add name="QAT_BPS" connectionString="Data Source=RACUAT;User id=QAT_BPS;Password=QAT_BPS_1234" providerName="System.Data.OracleClient" />
    <add name="QAT_AMC" connectionString="Data Source=RACUAT;User id=QAT_AMC;Password=QAT_AMC" providerName="System.Data.OracleClient" />
    <add name="QAT_TPE" connectionString="Data Source=RACUAT;User id=QAT_TPE;Password=QAT_TPE_1234" providerName="System.Data.OracleClient" />
    <add name="TEST_SMS_BANKING" connectionString="Data Source=RACUAT;User id=TEST_SMS_BANKING;Password=TEST_SMS_BANKING123" providerName="System.Data.OracleClient" />
    <add name="QAT_BB_SYSTEM" connectionString="Data Source=RACUAT;User id=QAT_BB_SYSTEM;Password=QAT_BB_SYSTEM_1234" providerName="System.Data.OracleClient" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <plugins>
      <add name="SpecFlow.Plus.Excel" type="Generator" />
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>